<mat-toolbar style="justify-content: space-between">
  <div (click)="getAllTodos()" style="cursor: pointer">
    <span>To-do App</span>
  </div>
  <div>
    <button mat-flat-button color="primary" (click)="createTodo()">Add To-Do</button>
  </div>
</mat-toolbar>

<div class="main-content">
  <mat-card>
    <mat-card-content>
      <mat-form-field  appearance="outline" style="width: 100%">
        <input class="search" [(ngModel)]="searchValue" (ngModelChange)="searchTodo()" type="search" matInput placeholder="Search. . .">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="todo" *ngFor="let item of todos">
    <mat-card-content>
      <div class="todo-content">
        <div class="todo-check">
          <mat-checkbox [checked]="item.done" (change)="toggleStatusTodo(item)"></mat-checkbox>
        </div>
        <div class="todo-title"><span>{{item.title}}</span></div>
        <div class="todo-actions">
          <button mat-raised-button color="accent" (click)="editTodo(item)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteTodo(item)">Delete</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
